{
  "root": true,
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "eqeqeq": ["error", "always"],
    "curly": ["error", "all"],
    "radix": ["error", "always"],
    "strict": ["error", "global"],
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "no-var": "error",
    "eol-last": ["error", "always"],
    "indent": "off",
    "linebreak-style": ["error", "unix"],
    "no-else-return": "error",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      {
        "blankLine": "any",
        "prev": ["const", "let", "var"],
        "next": ["const", "let", "var"]
      },
      { "blankLine": "always", "prev": "directive", "next": "*" },
      { "blankLine": "any", "prev": "directive", "next": "directive" }
    ],
    "prefer-const": "error",
    "quotes": ["error", "single"]
  }
}
