@import './scss/post.scss';
@import './scss/navbar.scss';
@import './scss/menu.scss';
@import './scss/searchBar.scss';

body {
  background-color: white;
  min-height: 100%;
}
.input-text {
  color: rgb(48, 48, 48);
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 0;
  padding: 10px;
  background-color: rgb(240, 240, 240);
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.text-box {
  color: rgb(48, 48, 48);
  border-radius: 20px;
  border: 0;
  padding: 10px;
  background-color: rgb(240, 240, 240);
}
.input-text:focus,
.text-box {
  outline: none;
}

.button-toggler {
  color: white;
}
.button-toggler:hover {
  color: green;
}

.tag {
  color: rgba(66, 170, 235, 1);
  font-size: 12px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 5px;
  border-radius: 3px;
  line-height: 25px;
  background-color: rgba(135, 206, 250, 0.4);
}
.tag:hover {
  color: rgb(48, 143, 202);

  text-decoration: none;
  background-color: rgba(92, 154, 192, 0.4);
}

.small-question-title {
  color: rgb(82, 82, 82);
  font-size: 30px;
}

.title-link:hover {
  text-decoration: none;
}
.small-question-title:hover {
  color: rgb(34, 34, 34);
  text-decoration: none;
}

.login-form {
  margin: 300px auto;
  border-radius: 20px;
  padding: 20px;
  width: 500px;
  z-index: 10;
  top: 0;
}
.logo {
  background-size: 70%;
  background-repeat: no-repeat;
  background-image: url('./assets/Logo.png');
}
.dropbox-button {
  border: none;
  width: 100%;
  margin-bottom: 5px;
  background-color: rgb(240, 240, 240);
}
.dropbox-button:hover {
  background-color: rgb(188, 188, 188);
}
.login-modal {
  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // height: 100%;
  // width: 100%;
  z-index: 120;
  background-color: rgba(0, 0, 0, 0.5);
}
.feed {
  background-color: rgb(240, 240, 240);
  align-self: center;
  text-align: center;
  max-width: 1000px;
}

.colored-line {
  color: #eceff1;
  background-color: #eceff1;
  height: 1;
  width: 97%;
}
