@import './scss/post.scss';
@import './scss/navbar.scss';

body {
  background-color: rgb(232, 232, 232);
}

.button-toggler {
  color: white;
}
.button-toggler:hover {
  color: green;
}

.feed {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
}

.colored-line {
  color: #eceff1;
  background-color: #eceff1;
  height: 1;
  width: 85%;
}
